.App {
  text-align: center;
  size: portrait;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  opacity: 0.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image_animated{
  animation: test;
  animation-duration: 4s;
}

@keyframes test{
  from{ transform: rotate(0deg)}
  to{ transform: rotate(0deg)}
}

.App-link {
  color: #09d3ac;
}
