.App {
  text-align: center;
  size: portrait;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  opacity: 0.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image_animated{
  animation: test;
  animation-duration: 4s;
}

@keyframes test{
  from{ transform: rotate(0deg)}
  to{ transform: rotate(0deg)}
}
 /* including media queries*/

 @media (min-width: 1080px){
  .App-header{
    background-color: black;
  }
}
@media (max-width: 1080px) and (min-width: 800px){
  .App-header{
    background-color: red;
  }
}

@media (min-width: 500px) and (max-width: 799px){
  .App-header{
    background-color: #09d3ac;
  }
}
.App-link {
  color: #09d3ac;
}
